@model ProfileViewModel

<div class="profile-container">
    <h2>User profile.</h2>
    <p>Username:   @Model.Username</p>
    <p>First name: @Model.FirstName</p>
    <p>Last name:  @Model.LastName</p>
    <p>Phone:      @Model.PhoneNumber</p>
    <p>Email:      @Model.EmailAdress</p>
</div>
