@model ProfileViewModel

<head>
    <style>
        .profile-container {
            margin-left: 550px;
            margin-top: 100px;
        }
    </style>
</head>

<div class="profile-container">
    <h2>User profile.</h2>
    <p>Username:   @Model.Username</p>
    <p>First name: @Model.FirstName</p>
    <p>Last name:  @Model.LastName</p>
    <p>Phone:      @Model.PhoneNumber</p>
    <p>Email:      @Model.EmailAdress</p>
    <a asp-action="Manufacturer" asp-controller="Manufacturer" class="btn btn-primary">Manufacturer</a>
    <a asp-action="Customer" asp-controller="Customer" class="btn btn-primary">Customer</a>
    <a asp-action="Booking" asp-controller="Booking" class="btn btn-primary">Booking</a>
    <a asp-action="BookingSearch" asp-controller="Booking" class="btn btn-primary">Booking Search</a>
</div>

